When preparing your data for an ANN, focus on scaling continuous numerical features while keeping one-hot encoded categorical features unchanged since they are already represented appropriately for the model.

In [22]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
import pickle

# Load the processed dataset
train_split = pd.read_csv('train_split_processed.csv')

# Numerical features to be scaled
numerical_features = ['Age', 'Work_Experience', 'Family_Size', 'Spending_Score']

# Initialize the StandardScaler
scaler = StandardScaler()

# Scale the numerical features
train_split[numerical_features] = scaler.fit_transform(train_split[numerical_features])

# Save the scaler using pickle
with open('scaler.pkl', 'wb') as f:
    pickle.dump(scaler, f)

# Export the scaled dataset to a new CSV file
train_split.to_csv('train_split_scaled.csv', index=False)

In [24]:
train_split.head()

,Age,Work_Experience,Spending_Score,Family_Size,Gender_Male,Profession_Doctor,Profession_Engineer,Profession_Entertainment,Profession_Executive,Profession_Healthcare,...,Var_1_Cat_2,Var_1_Cat_3,Var_1_Cat_4,Var_1_Cat_5,Var_1_Cat_6,Var_1_Cat_7,Segmentation_A,Segmentation_B,Segmentation_C,Segmentation_D
0,0.145046,0.734107,0.734575,1.391804,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
1,0.266139,-0.473050,0.734575,0.082777,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,1,0
2,0.508327,-0.774839,-0.614644,-0.571737,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
3,-1.247534,-0.774839,0.734575,0.737290,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
4,0.992703,-0.473050,-0.614644,1.391804,1,0,0,1,0,0,...,0,1,0,0,0,0,0,1,0,0